@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: karla;
    outline: none;
    user-select: none;
}

li, a{
    list-style: none;
    text-decoration: none;
    color: white;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;   
    padding-right: 10px;
    color: white;
}

/* jerreh logo */
.logo{
    cursor: pointer;
}

.logo h1{
    font-weight: 500;
}

/* center nav */
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 50px;
}

nav ul li{
    transition: all 0.2s ease-in;
}

nav ul li:hover{
    text-decoration: underline;
}

/* landing-page */
.home-page{
    height: 100vh;
    background-image: url(/imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.main, .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;

    text-align: center;
    height: 83vh;
}

.title h2{
    font-size: 50px;
    font-weight: 500;
}

.title h1{
    font-size: 90px;
    font-weight: bold;
}

.title p{
    margin-top: 60px;
    font-size: 24px;
}

.nav-title h1{
    color: white;
    margin-bottom: 10px;
    font-weight: 300;
}

/* bottom navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.548);
    backdrop-filter: blur(10px);
    width: 50%;
    height: 80px;
    padding: 0 60px;
    border: none;
    border-radius: 10px;
    position: relative;
}

.navbar img{
    height: 70px;
    border-radius: 100px;
    transition: all 0.2s ease-in;
}

.mr-diy-logo img{
    width: 100px;
}

.navbar img:hover{
    transform: translateY(-10%);
}